<app-header></app-header>
<po-divider></po-divider>
<po-page-default p-title="Ajuda">
 <po-divider></po-divider>
 <p>Para utilização do KANBAN é necessário possuir um modelo configurado ao local em informações adicionais.</p>
 <po-divider></po-divider>
 <p>O parametro DS_LST_KANBAN_DOMILA deve estar configurado na empresa de login</p>
 <po-divider></po-divider>
 <p>A odernação e campos que serão exibidos no kanban devem ser configurados no modelo do local através do componete PCPFM036</p>   
</po-page-default>
