.kanban {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
    text-align: center;
  }

  .to-do{
    width: 10%;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .task {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
  }
