<po-container>
  <div class="buttonNavigator">
    <po-button p-label="Anterior" p-kind="tertiary" (p-click)="prevPage()" [p-disabled]="currentPage == 1"></po-button>
    <po-button p-label="Próximo"  p-kind="tertiary"  (p-click)="nextPage()" [p-disabled]="currentPage == getTotalPages()"></po-button>
  </div>
  <div class="kanban">
    <div class="column" *ngFor="let x of places.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)" [style.background-color]="getRandomColor()">
      <h2 [style.color]="getTextColor(getRandomColor())">{{x.name}}</h2>
      <div class="cards" *ngFor="let y of orders">
          <po-widget class="card">
            <div class="linesCard" *ngFor="let lineItem of y.lines">
               <p class="font-card">{{lineItem}} <br></p>
            </div>
            <div class="img-card">
              <img [src]="y.img" width="70" height="70"/>
            </div>
          </po-widget>
      </div>
    </div>
  </div>
</po-container>
