/* estilo para o container */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #17a0c2;
}

.welcome {
  flex-grow: 1;
}

.kanban {
  display: flex;
  flex-wrap: wrap;
}

/* estilo para as colunas */
.column {
  flex-grow: 1;
  flex-basis: 0;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin-left: 10px;
}

.column h2 {
  margin: 10px;
  font-size: 12px;
}

/* estilo para os cards */
.cards {
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 10px;
  gap: 10px; /* define o espaçamento vertical entre os cards */
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.card:hover {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

/* estilo para as imagens */
.img-card {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.img-card img {
  max-width: 70px;
  max-height: 70px;
}

.card p {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.buttonNavigator {
  display: flex;
  justify-content: flex-end;
}

.container-header {
  justify-content: flex-start;
  background-color: #f1f1f1;
  padding: 0.7rem;
}

.container-header .po-button {
  background-color: #0c9abe;
}


.po-navbar {
  background-color: #0c9abe;
  color: white;
  height: 40px;
}

.po-navbar .po-navbar-item {
  color: white;
  font-size: 12px;
}

.po-navbar .po-icon {
  color: white;
  font-size: 20px;
}

.po-navbar-logo img {
  width: 25px;
  max-width: 25px;
  height: auto;
  opacity: 0.9;
  position: static;
}
